.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,255,198,0.5);
}

video {
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
}
